

.modal-content {
    text-align: center;
    margin: auto;
    width: 50%;
    
}

.modal-cont-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    color: rgb(124, 118, 166);
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-size: large;
    font-family: "Gill Sans", sans-serif;
    font-style: normal;
  }

button[type=submit] {
    background-color: rgb(124, 118, 166);
    color: white;
    padding-left: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-size: medium;
    font-family: "Gill Sans", sans-serif;
    font-style: normal;
  }

  .modal-buttons {
    background-color: rgb(197, 146, 197);
    border: none;
    cursor: pointer;
    border-radius:5px;
    height: 50px;
    width: 10%;
    font-size: medium;
    font-family: "Gill Sans", sans-serif;
    font-style: normal;
    color: white;
  }

  .lists {
    list-style-type: square;
    font-size: large;
    font-family: "Verdana", sans-serif;
    font-style: normal;
    color: rgb(105, 96, 105);
    font-weight: bold;
  }

  .x-butt {
    height: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: bold;
    color: rgb(154, 33, 9)
  }